<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony practice{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <body>       
      {% if app.user %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
          <h5 class="my-0 mr-md-auto font-weight-normal" ><a href="{{ path('homepage') }}" style="text-align:center">Books</a></h5>
          
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="{{ path('app_user_list') }}">Users</a>
              
              <a class="dropdown-toggle" href="{{ path('app_book_list') }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                    
                Books
              </a>                 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('app_book_add') }}">Add Book</a>
                  <a class="dropdown-item" href="{{ path('app_book_list') }}">List Books</a>
                  <a class="dropdown-item" href="{{ path('app_book_featured') }}">Featured Books</a>
                </div>
                     
              <a class=" dropdown-toggle" href="{{ path('app_publisher_list') }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Publishers
              </a>                 
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('app_publisher_add') }}">Add Publisher</a>
                  <a class="dropdown-item" href="{{ path('app_publisher_list') }}">List Publishers</a>                   
                </div>
            </nav>                                                                                     
            <a class="btn btn-outline-primary" href="{{ path('fos_user_security_logout') }}">Logout</a>
        </div>        
      {% elseif not app.user %}                                
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
          <h5 class="my-0 mr-md-auto font-weight-normal" ><a href="{{ path('homepage') }}" style="text-align:center">Books</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="btn btn-outline-primary" href="{{ path('fos_user_registration_register') }}">Registration</a>
              <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Login</a>
             </nav>
        </div>
      {% endif %}  
      
      {% block body %}
      {% endblock %}
      
      {% block javascriptsglobal %}
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/poper.min.js') }}"></script>         
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
      {% endblock %}
      
      {% block javascript %}             
      {% endblock %}
      
      {% block modals %}        
      {% endblock %}      
      
    </body>
</html>
