{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block body %} 
  <div style='padding: 50px'>
    <center>
      {{ form_start(addForm)}} 
     
      {{ form_errors(addForm)}} 
      
      {{ form_label(addForm.title)}}
      {{ form_widget(addForm.title)}}
      {{ form_errors(addForm.title)}}</br>
      
      {{ form_label(addForm.isbn)}}
      {{ form_widget(addForm.isbn)}}
      {{ form_errors(addForm.isbn)}}</br> 
      
      {{ form_label(addForm.yearOfPublishing)}}    
      {{ form_widget(addForm.yearOfPublishing)}}    
      {{ form_errors(addForm.yearOfPublishing)}}</br>   
      
      {{ form_label(addForm.publisher)}}
      {{ form_widget(addForm.publisher)}}</br> 
      
      {{ form_label(addForm.category)}}
      {{ form_widget(addForm.category)}}</br> 
      
      {{ form_label(addForm.author)}}
      {{ form_widget(addForm.author)}}</br> 
      
      {{ form_label(addForm.featured)}}
      {{ form_widget(addForm.featured)}}</br> 
      
      <input type="submit" value="Zapamti">
      
      
      <div class="hide">
        {{ form_rest(addForm) }}
      </div>
      
    </center>
  </div>
{% endblock %}
