{% extends 'base.html.twig' %}
{% block title %}List of Books{% endblock %}
{% block stylesheets %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
      margin-top: 20px;
    }
    
  </style>
{% endblock %} 
{% block body %}  
  <center>
  {{ form_start(filterForm)}}  
    {{ form_label(filterForm.title)}}
    {{ form_widget(filterForm.title)}}<br/>       
    {{ form_widget(filterForm.filter)}}<br/>        
  {{ form_end(filterForm) }} 
  </center><br/>
  {% if books is empty %}
    <p style='font-size: 20px;text-align: center;'> No books found for this title. </p>            
  {% elseif books is not empty %}   
    <div class="container">  
      {% include '@App/Book/_booktable.html.twig' %}   
    </div>  
  {% endif %}
 
{% endblock %}