{% extends 'base.html.twig' %}
{% block title %}List of Publishers{% endblock %}
{% block stylesheets %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
      margin-top: 20px;
    }
  </style>
{% endblock %} 
{% block body %}
  <div class="container">
    <h1 style='font-size: 20px;text-align: center;'> List of publishers</h1>  
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>    
          <th>Title</th>
          <th>City</th>          
          <th>Actions</th>
        </tr>
      </thead>
      {% for publisher in publishers %}
      <tr>    
        <td>{{ publisher.title }}</td>
        <td>{{ publisher.city }}</td>       
        <td><center><a href="{{ path('app_publisher_delete', { 'id': publisher.id }) }}" style="text-align:center">Delete</a><br/>
          <a href="{{ path('app_publisher_edit', { 'id': publisher.id }) }}" style="text-align:center">Edit</a><br/>
          <a href="{{ path('app_publisher_show', { 'id': publisher.id }) }}" style="text-align:center">View</a></center></td>       
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}