{% extends 'base.html.twig' %}
{% block title %}List of Books{% endblock %}
{% block stylesheets %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
      margin-top: 20px;
    }
    
  </style>
{% endblock %} 
{% block body %}
  
{% if filterForm is defined %}  
  <center>
  {{ form_start(filterForm)}}  
    {{ form_label(filterForm.title)}}
    {{ form_widget(filterForm.title)}}<br/> 
    {{ form_label(filterForm.isbn)}}
    {{ form_widget(filterForm.isbn)}}<br/>
    {{ form_label(filterForm.fromDate)}}
    {{ form_widget(filterForm.fromDate)}}<br/>
    {{ form_label(filterForm.toDate)}}
    {{ form_widget(filterForm.toDate)}}<br/>   
    {{ form_widget(filterForm.filter)}}<br/>        
  {{ form_end(filterForm) }} 
  </center><br/>
  {% else%}{% endif %}
  <h1 style='font-size: 20px;text-align: center;'>List of all books</h1>
  <h1 style='font-size: 15px;text-align: center;'>(Background color for featured books is blue.)</h1>
  {% if books is empty %}
    <p style='font-size: 20px;text-align: center;'>No books found for this title.</p>            
  {% else %}   
    <div class="container">  
      {% include '@App/Book/_booktable.html.twig' %}   
    </div>  
  {% endif %} 
  
{% endblock %}