{% extends 'base.html.twig' %}
{% block stylesheets %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
      margin-top: 20px;
    }
  </style>
{% endblock %} 
{% block body %}
  <div class="container">
    <h1 style='font-size: 20px;text-align: left;'> Data of book</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>    
          <th>Title</th>
          <th>ISBN</th>
          <th>Year of publishing</th>
          <th>Publisher</th>
          <th>Category</th>
          <th>Author</th>                 
        </tr>
      </thead>
      <tr>    
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.yearOfPublishing|date('Y')}}</td> 
        <td><a href="{{ path('app_publisher_show', { 'id': book.publisher.id }) }}" style="text-align:center">{{ book.publisher }}</a></td>                
        <td>{{ book.category}}</td>
        <td><a href="{{ path('app_author_show', { 'id': book.author.id }) }}" style="text-align:center">{{ book.author}}</a></td>      
      </tr>      
    </table>
  </div>      
{% endblock %}
