{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block stylesheets %}
  <style>
    body {
      background-color: #cccccc;
    }

    a {
      color: red;
    }

    input {
      width: 100%;
    }

    input[type=submit] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 10px 5px;;
      cursor: pointer; }
   

    input.beige {
      background-color: beige;
    }

    input.orange {
      background-color:  #ffdd99;
    }

    input.yellow {
      background-color:  #ffff99;
   
    }
    
    li {
      color:#6f2020;
      font-size: 13px; 
      list-style: none;
      text-align: left;
    }
    
    ul {
      padding: 0;
      margin:0
    }
    
    .input-holder {
      margin-bottom:20px;
      text-align: left;   
    }  
  </style>
{% endblock %}

{% block body %}
  <center>
    <div style='padding: 50px;background-color: lightblue;'>
      <h1 style='font-size: 30px;text-align: center;'>
        Welcome {% if firstName is defined %}{{ firstName }} {% else%} User {% endif %} <br/> 
        {% if matbr is defined %}Vas maticni broj je: {{ matbr }}{% endif %}<br/>
        {% if datrodj is defined %}Vas datum rodjenja je: {{ datrodj|date('Y-m-d') }}{% endif %}
      </h1>
    </div>    
    <div style='width: 400px; padding: 75px;background-color: gray;'>
      {{ form_start(createForm) }}
      
        {{ form_errors(createForm) }}
      
        <div class="input-holder">
          {{ form_label(createForm.ime)}}
          {{ form_widget(createForm.ime, {'attr': {'class': 'orange'}})}}
          {{ form_errors(createForm.ime)}}
        </div>

        <div class="input-holder">
          {{ form_label(createForm.prezime)}}                               
          {{ form_widget(createForm.prezime, {'attr': {'class': 'beige'}})}}
          {{ form_errors(createForm.prezime) }}
        </div>
                
        <div class="input-holder">
          {{ form_label(createForm.username) }}
          {{ form_errors(createForm.username) }}
          {{ form_widget(createForm.username)}}
        </div>
        
        <div class="input-holder">
          {{ form_label(createForm.email) }}
          {{ form_errors(createForm.email) }}
          {{ form_widget(createForm.email)}}
        </div>                

        <div class="input-holder">
          {{ form_label(createForm.plainPassword.first) }}
          {{ form_errors(createForm.plainPassword.first) }}
          {{ form_widget(createForm.plainPassword.first)}}
        </div>
        
        <div class="input-holder">
          {{ form_label(createForm.plainPassword.second) }}
          {{ form_errors(createForm.plainPassword.second) }}
          {{ form_widget(createForm.plainPassword.second)}}
        </div>
                       
        <div class="input-holder">
          {{ form_label(createForm.datum)}}
          {{ form_errors(createForm.datum)}}
          {{ form_widget(createForm.datum)}}
        </div>
        
        <input type="submit" value="Register">
        
      {{ form_end(createForm) }}
      
    </div>
    <p><b><a href="{{ path('homepage') }}" style="text-align:center">Homepage></a></b></p>
  </center>
{% endblock %}
