
{% block title %}Lista Usera{% endblock %}
{% block stylesheets %}
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
  }
  </style>
{% endblock %} 

{% block body %}
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Prezime</th> 
      <th>maticni broj</th>
      <th>datum rodjenja</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.ime }}</td>
        <td>{{ user.prezime }}</td>
        <td>{{ user.maticnibroj }}</td> 
        <td>{{ user.datum |date('d.m.Y.')}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}


