{% extends 'base.html.twig' %}
{% block title %}Lista Usera{% endblock %}
{% block stylesheets %}
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
      text-align: left;
      margin-top: 20px;
    }
  </style>
{% endblock %} 

{% block body %}
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>    
          <th>Name</th>
          <th>Last name</th>
          <th>Username</th>
          <th>Email</th>               
          <th>Date of birth</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for user in users %}
      <tr>    
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td> 
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>        
        <td>{{ user.birthday|date('d.m.Y.')}}</td>        
        <td>
          {% if app.user and app.user.id == user.id %}            
            <center><a href="{{ path('app_user_delete') }}" style="text-align:center">Delete</a><br/>
            <a href="{{ path('app_user_edit') }}" style="text-align:center">Edit</a></center>        
          {% endif %}
        </td>       
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}


