
{% extends 'base.html.twig' %}
{% block title %}Welcome user!{% endblock %}
{% block stylesheets %}
  <style>
    body {
      background-color: #cccccc;
    }

    input {
      width: 100%;
    }
    
    input[type=button]{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 20px 5px;;
      cursor: pointer;
    }

    a {
      color: red;
    }
    
  </style>
{% endblock %}
  
{% block body %}
    <center>
      <div style='padding: 50px;background-color: lightblue;'>
        <h1 style='font-size: 30px;text-align: center;'>Welcome {% if firstName is defined %}{{ firstName }} {% else%} User {% endif %} </h1>
      </div>
  
      <div style='width: 300px; padding: 75px;background-color: gray;'>
         {{ form_start(welcomeForm) }}
          <form action="{{ path('user') }}" method='POST'>
            
            {#{{ form_widget(welcomeForm.ime) }}
            {{ form_widget(welcomeForm.save) }}
            {{ form_errors(welcomeForm) }}
            {{ form_rest(welcomeForm) }}
             {{ form_row(form.age) }}
          
{#          {{ form_end(userForm) }}
          </form>
       #}
{#          {{ form_row(welcomeForm) }} stampa sve i labele i errors-e i widget-te #}
{#          {{ form_label(welcomeForm) }} stamapa samo labele#} 
{#          {{ form_errors(welcomeForm) }} stampa errorse, sledecom naredbom stampamo ono sto nama treba #} 
            {{ form_widget(welcomeForm) }}





  
        
      </div>
      <p><b><a href="{{ path('homepage') }}" style="text-align:center">Homepage></b></p>
    </center>
    
  
   
{% endblock %}
